VITE_FIREBASE_API_KEY=AIzaSyDm__qnJbHdCQzhvmYhP3WeqWhBc6_PPw8
VITE_FIREBASE_AUTH_DOMAIN=a2b-farms-c934b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=a2b-farms-c934b
VITE_FIREBASE_STORAGE_BUCKET=a2b-farms-c934b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=246783254449
VITE_FIREBASE_APP_ID=1:246783254449:web:e9e01aa035ad9a8afba790
VITE_CLOUDINARY_CLOUD_NAME=dxbbz0b8m
VITE_CLOUDINARY_UPLOAD_PRESET=a2b_farms_preset